.slider {
    height: 100vh !important;
}

.slider .previousButton {
    display: none !important;
}

.slider .nextButton {
    display: none !important;
}

.offcanvas {
    z-index: 1200;
}

.navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1101;
}

.nextButton {
    display: none;
}

.previousButton {
    display: none;
}

.home-layer {
    position: absolute;
    top: 0;
    z-index: 1100;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
}

.navbar {
    height: 80px;
    font-family: poppins;
}

.logo-title {
    font-size: 30px;
}

.offcanvas {
    background-color: #222;
    /* Dark background for mobile menu */
    color: white;
}

.offcanvas a {
    color: white;
}

.offcanvas a:hover {
    color: #f04e30;
    /* Change hover color */
}

@media (max-width: 991px) {

    /* Only show offcanvas toggle on mobile */
    .desktop-nav {
        display: none;
    }
}

@media (min-width: 992px) {

    /* Hide offcanvas button on desktop */
    .mobile-menu {
        display: none;
    }
}

@media (max-width:680px) {
    .navbar .container {
        padding: 10px;
    }

    .fixed-bottom {
        display: none !important;
    }

    .home-layer {
        height: 111vh !important;
    }
    .words-wrapper .words span{
        top: 7px !important;
    }
    .circle-text {
        width: 200px !important;
    }

    .words-wrapper {
        font-size: 30px !important;
    }

    .content-layers {
        padding: 0 58px !important;
    }
}

.content-layers {
    position: inherit;
    bottom: 80px;
    width: 100%;
    max-width: 700px;
    padding: 0 100px;
}

.content-layers p {
    margin-top: 30px;
    font-family: poppins;
    /* width: 300px; */
}

.words-wrapper {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.words-wrapper .css {
    color: red;
}

.words-wrapper .words {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: var(--width);
    height: 40px;
    padding: 2px 10px;
    border-radius: 6px;
    color: var(--color, #000);
    background: var(--color-bg, #ffc703);
    box-sizing: content-box;
    transition: all 0.7s;
}

.words-wrapper .words span {
    position: absolute;
    top: 0px;
    font-family: "UnifrakturMaguntia", serif;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: transform 0.7s, opacity 0.25s 0.25s;
}

.words-wrapper .words span.current {
    opacity: 1;
    transform: translate(-50%, 0);
}

.words-wrapper .words span.next {
    transform: translate(-50%, 100%);
}

@media (max-width: 700px) {
    .words-wrapper .words {
        width: var(--width-mobile) !important;
        margin-top: 8px !important;
        margin-left: 0 !important;
    }
    .content-layers p {
        margin-top: 20px;
    }
    .circle-text {
    margin-bottom: 25px !important;
    }
}
.navbar .mobile-menu {
    outline: none;
    background-color: transparent !important;
}
.navbar .mobile-menu:focus {
    outline: none;
    border: none !important;
}
.navbar .mobile-menu .navbar-toggler-icon {
    color: #fff !important;
}

/* 360 deg animation */
.circle-text {
    width: 300px;
    height: 200px;
    font-size: 20px;
    margin-bottom: 50px;
    position: relative;
    animation: rotate360 5s linear infinite;
    /* Rotates every 5 seconds */
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

svg {
    width: 100%;
    height: 100%;
}

text {
    font-size: 1.5rem;
    font-weight: bold;
    fill: white;
    /* Text color */
    text-transform: uppercase;
}

.fixed-bottom {
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 94%;
    font-family: poppins;
    font-size: 10px;
    gap: 15px;
    width: 60px;
    padding: 0;
    justify-content: center;
    z-index: 1100;
}

.fixed-bottom .bg-white {
    border-radius: 15px;
    padding-left: 5px;
    border: 1px solid black;
}

.fixed-bottom .bg-white img {
    border-radius: 15px;
}